   .style1
        {
            width: 100%;
        }
        .style2
        {
            height: 70px;
            text-align: center;
        }
        .style3
        {
            height: 416px;
        }
        .style6
        {
            color: #5C6783;
            text-align: center;
        }
        .style7
        {
            color: #000066;
        }
        .style8
        {
            text-align: center;
        }
        .style9
        {
            color: #666666;
        }